@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:hsl(25,97%,53%);
    --secondry-white:hsl(0,0%,100%);
    --secondry-lightGrey:hsl(216,12%,54%);
    --secondry-darkBlue:hsl(213,19%,18%);
    --secondry-veryDarkBlue:hsl(216,12%,8%);
}
body{
    min-height: 100vh;
    width: 100%;
    color: var(--secondry-white);
    background-color: var(--secondry-veryDarkBlue);
}